[tool.poetry]
name = "nonebot_plugin_chatrecorder"
version = "0.3.1"
description = "适用于 Nonebot2 的聊天记录插件"
authors = ["meetwq <meetwq@gmail.com>"]
license = "MIT"
readme = "README.md"
homepage = "https://github.com/noneplugin/nonebot-plugin-chatrecorder"
repository = "https://github.com/noneplugin/nonebot-plugin-chatrecorder"

[tool.poetry.dependencies]
python = "^3.8"
nonebot2 = { version = "^2.0.0", extras = ["fastapi"] }
nonebot-plugin-datastore = "^1.1.0"
nonebot-plugin-session = ">=0.0.8,<0.1.0"

[tool.poetry.group.dev.dependencies]
nb-cli = "^1.0.0"
black = "^22.8.0"

[tool.poetry.group.test.dependencies]
pytest-cov = "^4.0.0"
pytest-xdist = "^3.0.2"
pytest-asyncio = "^0.20.0"
nonebug = "^0.3.0"
nonebot2 = { version = "^2.0.0-rc.1", extras = ["fastapi"] }
asyncpg = "^0.27.0"
aiomysql = "^0.1.0"

[tool.poetry.group.adapters]
optional = true

[tool.poetry.group.adapters.dependencies]
nonebot-adapter-onebot = "^2.2.2"
nonebot-adapter-console = "^0.4.0"
nonebot-adapter-qqguild = "^0.2.1"
nonebot-adapter-kaiheila = { version = "^0.2.4", python = ">=3.9" }
nonebot-adapter-telegram = "^0.1.0b13"

[tool.pytest.ini_options]
asyncio_mode = "auto"
addopts = "--cov=nonebot_plugin_chatrecorder --cov-report=term-missing"

[tool.nonebot]
plugins = ["nonebot_plugin_chatrecorder"]

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
